**/.dockerignore
**/bin
**/obj
**/out
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.suo
**/*.rsuser
**/appsettings.Development.json
**/appsettings.Local.json
**/.git
**/.gitignore
**/node_modules
**/Dockerfile
**/docker-compose*.yml
**/docs
**/*.md
**/*.env
